/* filepath: /c:/Users/themm/Projekte/learning-lab/react/jsx-demo/src/styles/Navbar.css */

.navbar {
  padding: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem; /* Abstand zwischen den Buttons */
}