@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    /*outline: 1px solid red;
    /* Zeigt alle Elemente und deren Umrandung */
}

/* Overlay Hintergrund */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Höher als andere Elemente */
}

/* Inhalt des Overlays */
.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Standardmäßig versteckt */
#overlay.hidden {
    display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: var(--dbe-green);
    border: 2px solid;
    position: relative;
  }
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }
  @keyframes l6 {
      100% {inset:0}
  }

:root {
    --dbe-white: #ffffff;
    --dbe-white-alpha: #f0f0f0e5;
    --dbe-green: #1ab2b1;
    --dbe-grey: #3e3e3eea;
    --dbe-grey-light: #aa9c9c;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
}

.grid-items {
    width: 100%;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo img {
    height: 50px;
}

#hamburger-button {
    display: block;
    color: var(--dbe-green);
    font-size: 2em;
    cursor: pointer;
}

#hamburger-menu {
    display: none;
    flex-direction: column;
    background-color: var(--dbe-white-alpha);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

#hamburger-menu a {
    text-decoration: none;
    color: var(--dbe-green);
    font-weight: 700;
    padding: 10px;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}


#hero {
    margin-top: 10px;
    height: 500px;
    background-image: url('../images/bg-hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dbe-white);
    text-align: center;
}

.tabs {
    width: 90%;
    margin: 0 auto;
}

.tab-header {
    display: flex;
    justify-content: space-between;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-content {
    background-color: var(--dbe-white);
    color: var(--dbe-grey);
    height: auto;
    padding: 0;
}


.tab-link {
    min-height: 40px;
    min-width: calc(25% - 10px);
    font-weight: 700;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-link.active {
    border: 0px;
    background-color: var(--dbe-white);
    color: var(--dbe-green);
}

.tab-link.inactive {
    border: 0px;
    background-color: var(--dbe-grey);
    color: var(--dbe-white);
}


.tab-link.tab1 {
    background-image: url('../images/icon-airship.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.tab2 {
    background-image: url('../images/icon-flug-hotel.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.tab3 {
    background-image: url('../images/icon-car.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.tab4 {
    background-image: url('../images/icon-bed.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.active.tab1 {
    background-image: url('../images/icon-airship-active.svg');
}

.tab-link.active.tab2 {
    background-image: url('../images/icon-flug-hotel-active.svg');
}

.tab-link.active.tab3 {
    background-image: url('../images//icon-car-active.svg');
}

.tab-link.active.tab4 {
    background-image: url('../images/icon-bed-active.svg');
}

.form-hidden {
    position: relative;
}

.form-hidden-inputs {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #f9f9f9;
    color: var(--dbe-grey);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    text-align: left;
}


form div,
form input,
form label {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/* Select Feld */
.form-select select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: calc(80% + 20px);
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid var(--dbe-grey-light);
    padding: 5px;
}

/* Input Fields */
.form-input-von input {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--dbe-grey-light);
}

.form-input-nach input {
    width: 80%;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 10px;
    border: 1px solid var(--dbe-grey-light);
    border-top: 0px;
}

.form-input-abflug input {
    width: 80%;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 10px;
    border: 1px solid var(--dbe-grey-light);
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Icon mit versteckten formular */
.form-hidden {
    width: 100%;
    text-align: center;
}


.form-icon {
    margin: 0px auto;
    width: calc(80% + 20px);
    text-align: left;
    padding-top: 10px;

}

.form-icon img {
    width: 12px;
    height: 12px;
}

.form-radio-nonstop {
    margin: 0px auto;
    padding-top: 10px;
    width: calc(80% + 20px);
    display: flex;
    justify-content: flex-start;
}

form input:focus,
form select:focus {
    border: 1px solid #1ab2b1;
    outline: none;
}

.form-submit-search input[type="submit"] {
    background-color: var(--dbe-green);
    color: var(--dbe-white);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: calc(80% + 20px);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    margin: 10px;
}

.form-submit-search input[type="submit"]:hover {
    background-color: #18a09e;
}

.form-submit-search input[type="submit"]:focus {
    outline: none;
}

/* --- Swap Icon --- funktioniert nicht */
.form-swap {
    display: none;
    width: calc(80% -20px);
    height: 1px;
    z-index: 1;
    margin-left: 20px;


}

.swap-icon img {
    position: relative;
    height: 30px;
    width: 30px;
    top: -12px;
    right: 0px
}

/* Desktop */
@media(min-width: 50em) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .grid-items {
        border: 0;
    }

    #hamburger-button {
        display: none;
        /* Hamburger-Button verstecken */
    }

    #hamburger-menu {
        display: flex;
        /* Zeigt das Menü als horizontale Leiste */
        flex-direction: row;
        /* Horizontale Anordnung */
        position: static;
        /* Entfernt die absolute Position */
        background-color: transparent;
        /* Entfernt den Hintergrund */
        box-shadow: none;
        /* Entfernt den Schatten */
        width: auto;
        /* Keine Breitenbeschränkung */
        gap: 20px;
        /* Abstand zwischen den Links */
    }

    .form-select {
        grid-row: 1;
        grid-column: 1;
    }

    .form-hidden {
        grid-row: 1;
        grid-column: 2;
    }

    .form-radio-nonstop {
        grid-row: 1;
        grid-column: 3;
    }

    .form-input-von {
        grid-row: 2;
        grid-column: 1;
    }

    .form-input-nach {
        grid-row: 2;
        grid-column: 2;

    }

    .form-input-abflug {
        grid-row: 2;
        grid-column: 3;
    }

    .form-submit-search {
        grid-row: 2;
        grid-column: 4;
    }

    .tab-link {
        text-indent: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .tab-link.tab1 {
        background-position: 10px 10px;
    }

    .tab-link.tab2 {
        background-position: 10px 10px;
    }

    .tab-link.tab3 {
        background-position: 10px 10px;
    }

    .tab-link.tab4 {
        background-position: 10px 10px;
    }




    .form-input-von {
        display: grid;
        /* Setze den Container als Grid-Layout */
    }

    /* Input Fields */
    .form-input-von input {
        justify-self: end;
        margin-bottom: 15px;
        border-right: 0px;
    }


    .form-input-nach {
        display: grid;
        border-left: 0px;
    }

    .form-input-nach input {
        justify-self: start;
        border: 1px solid var(--dbe-grey-light);
        margin-bottom: 15px;
    }

    .form-input-abflug input {
        border: 1px solid var(--dbe-grey-light);
        margin: 0px;
        margin-bottom: 15px;
    }


    .form-submit-search input[type="submit"] {
        margin: 0px;
        margin-bottom: 15px;
    }

    /* Select Feld */
    .form-select {
        display: grid;
    }

    .form-select select {
        justify-self: end;
        margin-bottom: 15px;
        border: 0px;
    }


    .form-icon label {
        display: flex;
        align-items: baseline;
        /* Vertikal zentrieren */
    }


}