@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    /*outline: 1px solid red;
    /* Zeigt alle Elemente und deren Umrandung */
}

:root {
    --dbe-main: #1ab2b1;
    --dbe-color: #062C2C;
    --dbe-color1: #0C4F4F;
    --dbe-bgcolor: #ffffff;
    --dbe-bgcolor-trans: rgba(0, 0, 0, 0.8);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}



/* Overlay Hintergrund */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dbe-bgcolor-trans);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Inhalt des Overlays */
.overlay-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: var(--dbe-bgcolor)
}

/* Standardmäßig versteckt */
#overlay.hidden {
    display: none;
    background-color: transparent;
}

/* loading ooverlay*/
.loader {
    width: 220px;
    height: 30px;
    border-radius: 20px;
    color: var(--dbe-main);
    border: 2px solid;
    position: relative;
    background-color: var(--dbe-bgcolor);
}

.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: load 2s infinite;
}

@keyframes load {
    100% {
        inset: 0
    }
}




.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
}

.grid-items {
    width: 100%;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo img {
    height: 50px;
}

#hamburger-button {
    display: block;
    color: var(--dbe-main);
    font-size: 2em;
    cursor: pointer;
}

#hamburger-menu {
    display: none;
    flex-direction: column;
    background-color: var(--dbe-bgcolor);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

#hamburger-menu a {
    text-decoration: none;
    color: var(--dbe-main);
    font-weight: 700;
    padding: 10px;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}


#hero {
    margin-top: 10px;
    height: 500px;
    background-image: url('../images/bg-hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dbe-bgcolor);
    text-align: center;
}

.tabs {
    width: 90%;
    margin: 0 auto;
}

.tab-header {
    display: flex;
    justify-content: space-between;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-content {
    background-color: var(--dbe-bgcolor);
    color: var(--dbe-color);
    height: auto;
    padding: 0;
}


.tab-link {
    min-height: 40px;
    min-width: calc(25% - 10px);
    font-weight: 700;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-link.active {
    border: 0px;
    background-color: var(--dbe-bgcolor);
    color: var(--dbe-main);
}

.tab-link.inactive {
    border: 0px;
    background-color: var(--dbe-color);
    color: var(--dbe-bgcolor);
}


.tab-link.tab1 {
    background-image: url('../images/icon-airship.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.tab2 {
    background-image: url('../images/icon-flug-hotel.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.tab3 {
    background-image: url('../images/icon-car.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.tab4 {
    background-image: url('../images/icon-bed.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.tab-link.active.tab1 {
    background-image: url('../images/icon-airship-active.svg');
}

.tab-link.active.tab2 {
    background-image: url('../images/icon-flug-hotel-active.svg');
}

.tab-link.active.tab3 {
    background-image: url('../images//icon-car-active.svg');
}

.tab-link.active.tab4 {
    background-image: url('../images/icon-bed-active.svg');
}

.form-hidden {
    position: relative;
}

.form-hidden-inputs {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 250px;
    background: var(--dbe-bgcolor);
    color: var(--dbe-color);
    padding: 20px;
    box-shadow: 0 4px 15px var(--dbe-color);
    border-radius: 10px;
    z-index: 1000;
    text-align: justify;
}

#form-hidden-inputs{
    margin: 5px;
}


form div,
form input,
form label {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/* Select Feld */
.form-select select {
    appearance:none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: calc(80% + 20px);
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid var(--dbe-color);
    background-color: var(--dbe-bgcolor);
    padding: 5px;
}



/* Input Fields */
.form-input-von input {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--dbe-color);
}

.form-input-nach input {
    width: 80%;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 10px;
    border: 1px solid var(--dbe-color);
    border-top: 0px;
}

.form-input-abflug input {
    width: 80%;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 10px;
    border: 1px solid var(--dbe-color);
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Icon mit versteckten formular */
.form-hidden {
    width: 100%;
    text-align: center;
}


.form-icon {
    margin: 0px auto;
    width: calc(80% + 20px);
    text-align: left;
    padding-top: 10px;

}

.form-icon img {
    width: 12px;
    height: 12px;
}

.form-radio-nonstop {
    margin: 0px auto;
    padding-top: 10px;
    width: calc(80% + 20px);
    display: flex;
    justify-content: flex-start;
}

form input:focus,
form select:focus {
    border: 1px solid var(--dbe-main);
    outline: none;
}

.form-submit-search input[type="submit"] {
    background-color: var(--dbe-main);
    color: var(--dbe-bgcolor);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: calc(80% + 20px);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    margin: 10px;
}

.form-submit-search input[type="submit"]:hover {
    background-color: #18a09e;
}

.form-submit-search input[type="submit"]:focus {
    outline: none;
}


.form-swap {
    position: relative; 
    height: 0px; /* Kein sichtbarer Bereich */
    width: calc(100%); 
    z-index: 99;
    background-color: transparent; 
}

.swap-icon {
    position: absolute; 
    top: 50%; 
    left: calc(80% + 20px); 
    transform: translate(-50%, -50%); /* Exakte Zentrierung */
}

.swap-icon img {
    height: 20px;
    width: 20px;
    border: 1px solid var(--dbe-color); 
    border-radius: 90px; 
    background-color: var(--dbe-bgcolor); 
    padding: 2px;
    transform: rotate(90deg);
}


input[type="radio"],
input[type="checkbox"] {
    appearance: none; /* Entfernt das Standard-Browser-Styling */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #ccc; /* Standard Randfarbe */
    background-color: #fff; /* Hintergrundfarbe */
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Wenn der Radio-Button ausgewählt ist */
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: var(--dbe-bgcolor); /* Hintergrundfarbe beim Ausgewähltsein */
    border-color: var(--dbe-main); /* Randfarbe beim Ausgewähltsein */
}

/* Innerer Kreis für den ausgewählten Zustand */
input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%; /* Position innerhalb des Radio-Buttons */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px; /* Größe des inneren Kreises */
    height: 15px;
    background-color: var(--dbe-main); /* Farbe des inneren Kreises */
    border-radius: 50%;
}
input[type="checkbox"] {
    border-radius: 4px; /* Checkboxen sind eckig */
    
}

/* Standard-Styling für den Slider */
input[type="range"] {
    -webkit-appearance: none; /* Entfernt das Standard-Styling in Webkit-basierten Browsern (z.B. Chrome, Safari) */
    -moz-appearance: none; /* Entfernt das Standard-Styling in Firefox */
    appearance: none; /* Entfernt das Standard-Styling in allen modernen Browsern */
    width: 100%; /* Breite des Sliders */
    height: 20px; /* Höhe des Schiebereglers */
    background: var(--dbe-main); /* Hintergrundfarbe des Sliders */
    border-radius: 5px; /* Abrundung der Ecken des Sliders */
    cursor: pointer; /* Zeigt den Cursor als Zeiger */
    transition: background 0.3s ease; /* Sanfter Übergang der Hintergrundfarbe */
}

/* Styling für den Daumen (der Teil, den der Benutzer zieht) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Entfernt das Standard-Styling in Webkit-basierten Browsern */
    appearance: none; /* Entfernt das Standard-Styling in allen modernen Browsern */
    width: 20px; /* Breite des Daumens */
    height: 20px; /* Höhe des Daumens */
    background: var(--dbe-main); /* Farbe des Daumens */
    border-radius: 50%; /* Rundet den Daumen */
    border: 2px solid #fff; /* Weißer Rand um den Daumen */
    cursor: pointer; /* Zeigt den Cursor als Zeiger */
    transition: background 0.3s ease; /* Sanfter Übergang der Daumenfarbe */
}

/* Styling für den Daumen in Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Breite des Daumens */
    height: 20px; /* Höhe des Daumens */
    background: var(--dbe-main); /* Farbe des Daumens */
    border-radius: 50%; /* Rundet den Daumen */
    border: 2px solid #fff; /* Weißer Rand um den Daumen */
    cursor: pointer; /* Zeigt den Cursor als Zeiger */
    transition: background 0.3s ease; /* Sanfter Übergang der Daumenfarbe */
}

/* Styling für den Daumen im Hover-Zustand */
input[type="range"]:hover::-webkit-slider-thumb {
    background: var(--dbe-color1); /* Ändert die Farbe des Daumens, wenn der Benutzer mit der Maus darüber fährt */
}

/* Styling für den Daumen im Fokus-Zustand */
input[type="range"]:focus::-webkit-slider-thumb {
    background: var(--dbe-color2); /* Ändert die Farbe des Daumens, wenn er fokussiert ist */
}

/* Desktop */
@media(min-width: 50em) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .grid-items {
        border: 0;
    }

    #hamburger-button {
        display: none;
        /* Hamburger-Button verstecken */
    }

    #hamburger-menu {
        display: flex;
        /* Zeigt das Menü als horizontale Leiste */
        flex-direction: row;
        /* Horizontale Anordnung */
        position: static;
        /* Entfernt die absolute Position */
        background-color: transparent;
        /* Entfernt den Hintergrund */
        box-shadow: none;
        /* Entfernt den Schatten */
        width: auto;
        /* Keine Breitenbeschränkung */
        gap: 20px;
        /* Abstand zwischen den Links */
    }

    .form-select {
        grid-row: 1;
        grid-column: 1;
    }

    .form-hidden {
        grid-row: 1;
        grid-column: 2;
    }

    .form-radio-nonstop {
        grid-row: 1;
        grid-column: 3;
    }

    .form-input-von {
        grid-row: 2;
        grid-column: 1;
    }
    .form-swap {
        grid-row: 2;
        grid-column: 1;
    }
    .form-input-nach {
        grid-row: 2;
        grid-column: 2;

    }

    .form-input-abflug {
        grid-row: 2;
        grid-column: 3;
    }

    .form-submit-search {
        grid-row: 2;
        grid-column: 4;
    }

    .tab-link {
        text-indent: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .tab-link.tab1 {
        background-position: 10px 10px;
    }

    .tab-link.tab2 {
        background-position: 10px 10px;
    }

    .tab-link.tab3 {
        background-position: 10px 10px;
    }

    .tab-link.tab4 {
        background-position: 10px 10px;
    }




    .form-input-von {
        display: grid;
        /* Setze den Container als Grid-Layout */
    }

    /* Input Fields */
    .form-input-von input {
        justify-self: end;
        margin-bottom: 15px;
        border-right: 0px;
    }


    .form-input-nach {
        display: grid;
        border-left: 0px;
    }

    .form-input-nach input {
        justify-self: start;
        border: 1px solid var(--dbe-color);
        margin-bottom: 15px;
    }

    .form-input-abflug input {
        border: 1px solid var(--dbe-color);
        margin: 0px;
        margin-bottom: 15px;
    }


    .form-submit-search input[type="submit"] {
        margin: 0px;
        margin-bottom: 15px;
    }

    /* Select Feld */
    .form-select {
        display: grid;
    }

    .form-select select {
        justify-self: end;
        margin-bottom: 15px;
        border: 0px;
    }


    .form-icon label {
        display: flex;
        align-items: baseline;
        /* Vertikal zentrieren */
    }

    .form-swap {
        grid-column: 2 / 3;
        height: 0px;
        width: 0px;
        position: relative;
        margin-top: 22px; /* Verschiebt den gesamten Container leicht nach unten */
    }

    .swap-icon {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .swap-icon img {
        transform: rotate(0deg); /* Zurück in die ursprüngliche Ausrichtung */
    }

    
    .nach-input {
        text-indent: 10px;
    }

    
    .form-hidden-inputs {
        top: 40px;
    }


}